.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.active-link {
  color: #fff;
  background-color: #171717;
}
.landing-wrapper > button > img {
  transform: translateX(0);
  animation: move 2.8s forwards infinite ease-in-out;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
